body {
	overflow:hidden;
}
div#pole_pliki div {
	border: 2px solid black;
	
}

div#pole_pliki div:hover {
	box-shadow: 0 0 10px gray;
}

.bigIcon {
	font-size: 42px;
}

#zmianaNazwy {
	text-align: center;
	border: 2px solid black;
	box-shadow: 10px 10px 10px gray;
	width: 50%;
	position: absolute;
	z-index: 100;
	background: lightgray;
	top: 0;
	left: 0;
	display: none;
}

#belkaOkna {
	background: white;
	overflow: hidden;
	
}
#belkaOkna i {
	font-size: 15px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#belkaOkna h5 {
	float: left;
	width: calc(99% - 15px);
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}